*.pyc
*.swp
ContinuousIntegration
pylint.txt
pep8.txt
platform_venv
coverage.xml
*.egg-info
.coverage
ci_dep.txt
*.req_make
test-reports
examples/tests/
dist
*.toc
*.pdf
*.tex
*.doku
*.log
*.out
*.aux
auto/
doc/auto/
build/
doc/build/
*~
\#*\#
.\#*
#*.png
scratch
.ipynb_checkpoints
.mypy_cache/

.ipynb_checkpoints
